.people {
    width: 100%;
    margin-top: 10px;
    overflow-x: scroll !important;
    display: flex;
}

.dm-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.dm-icon-image {
    width: 90px;

    margin-left: auto;
    margin-right: auto;
}

.dm-icon a {
    width: max-content;
    text-decoration: none !important;
}

.dm-icon-name {
    width: max-content;

    margin-left: auto;
    margin-right: auto;

    font-size: 1rem !important;
    color: black !important;
    text-decoration: none !important;
}

.dm-icon-add {
    font-weight: bold;
}

.dm-preview {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    padding: 5px;

    border-radius: 10px;
    border: 1px solid #0000004f;
}

.dm-preview a {
    text-decoration: none !important;

    display: flex;
    align-items: center;
}

.dm-preview-user-info {
    width: max-content;
    text-align: center;
}

.dm-preview-user-image {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.dm-preview-username {
    margin-left: auto;
    margin-right: auto;

    width: max-content;

    font-size: 1rem !important;
    color: black !important;
}

.latest-chat {
    font-size: 1rem !important;
    color: black !important;
    text-decoration: none !important;
    margin-left: 10px;

    width: 100%;
    height: 1.5rem;
    overflow: hidden;
}

@media (max-device-width: 480px), (max-width: 675px){
    .dm-preview {
        width: 97vw;
    }
}