.top-corresponder-info {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #0000004f;
}

.top-corresponder-info-user-image {
    width: 50px;
    margin-right: 10px;
}

.top-corresponder-info-username {
    font-size: 1.5rem;
}

.top-corresponder-info-return-image {
    width: 40px;
    margin-right: 20px;
}

.message {
    width: max-content;
    max-width: 80vw;

    border-radius: 25px;

    padding: 10px 20px;
    margin: 5px;
}

.message .content {
    width: 100%;
}

.message-mine {
    background-color: rgb(17, 120, 250);
    color: white;
    margin-left: auto;
}

.message-other {
    background-color: rgb(238, 238, 238);
    color: black;
    margin-right: auto;
}