:root {
    --dm-preview-user-image-width-height: 60px;
    --dm-preview-padding: 10px;
}

.people {
    width: 100%;
    margin-top: 10px;
    overflow-x: scroll !important;
    display: flex;
}

.dm-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.dm-icon-image {
    width: 90px;

    margin-left: auto;
    margin-right: auto;
}

.dm-icon a {
    width: max-content;
    text-decoration: none !important;
}

.dm-icon-name {
    width: max-content;

    margin-left: auto;
    margin-right: auto;

    font-size: 1rem !important;
    color: black !important;
    text-decoration: none !important;
}

.dm-icon-add {
    font-weight: bold;
}

.dm-preview {
    width: calc(70vw + var(--dm-preview-padding));
    height: calc(var(--dm-preview-user-image-width-height) + var(--dm-preview-padding));
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    padding: var(--dm-preview-padding);

    border-radius: 10px;
    border: 1px solid #0000004f;

    text-decoration: none !important;
    color: black !important;

    display: flex;
    align-items: center;

    overflow: hidden !important;
}

.dm-preview-user-image {
    width: var(--dm-preview-user-image-width-height);
    margin-right: 10px;
}

.dm-preview-body {
    width: 100%;
    overflow: hidden !important;
}

.dm-preview-body .content {
    overflow: hidden !important;
}

@media (max-device-width: 480px), (max-width: 675px){
    .dm-preview {
        width: 97vw;
    }
}