.loginwelcometxt {
    width: max-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    font-size: 2rem;
    background-color: rgb(29, 111, 225);
    color: rgb(255, 255, 255);
}

.logininput {
    width: 15vw;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.loginbutton {
    margin-top: 10px;
}

.loginlinkwraper {
    margin-top: 3rem;
}

.loginregistererror {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 111, 225);
    color: white;
    margin-bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 99vw;
}

.navbar-links li {
    list-style: none;
    width: max-content;
}

.navbar-links li:hover {
    cursor: pointer;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    background-color: #33333300;
}

.nav-link-active {
    background-color: #555;
}

.navlogo {
    width: max-content;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 111, 225);
    padding: 2px;
}

.navbar-user-img {
    margin-left: auto;
    padding-right: 10px;
    padding-top: 8px;
}

.mypostdiv {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    margin-top: 10vh;
    border: 2px solid rgba(73, 73, 73, 0.26);
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    min-width: max-content;
}

.postdivtextarea {
    height: 10vh;
}

.postdivpostbtn {
    margin-right: 10px;
    margin-top: 7px;
}

.post {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #0000004f;
}

hr.postseperator {
    border-top: 2px solid black;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.likeimg {
    width: 30px;
    margin-top: 5px;
}

.likeimg:hover {
    cursor: pointer;
}

.postuser {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.post {
    min-width: max-content;
}

.postuserdiv {
    display: inline-flex;
    margin-bottom: 5px;
}

.postusericon {
    width:30px;
    height: 30px;
    margin-right: 5px;
}

.postcontent {
    padding: 10px;
    min-height: 60px;
    border-radius: 10px;
}

.likedstuff {
    display: inline-flex;
    margin-top: 3px;
    margin-left: 5px;
}

.likediv {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 8px;
}

.mycommentdiv {
    margin-top: 10px;
}

.commentdivtextarea {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0%;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.3s;
}

.commentdivtextarea:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.commentbtn {
    text-decoration: none;
    color: white;
    background-color: rgb(29, 111, 225);
    padding: 5px;
    border-radius: 5px;
}

.commentbtndiv {
    text-align: right;
}

.comments {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 10px;
}

.comment {
    margin-left: 30px;
    border: 2px solid rgba(73, 73, 73, 0.26);
    padding: 15px;
    border-radius: 10px;
    min-width: max-content;
}

.commentuser {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.commentusericon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}