<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if logged_in == True %}
            <nav class="navbar">
                <div class="navbar-links">
                    <ul>
                        <li><a href="/" class="navbar-link"><div class="navlogo">FriendFace</div></a></li>
                        <li class="navbar-user-img"><a href="logout"><img src="static/icons/user.png" alt="User logo img" style="width:50px;"></a></li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>