{% extends "base.html" %}

{% block title %}FriendChat with {{ corresponder_username }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=friendchat-dm">
{% endblock %}

{% block navbars %}
    <div class="top-corresponder-info">
        <a href="/chat" class="top-corresponder-info-return-a">
            <img src="/files/static/icons?file=return.png" class="top-corresponder-info-return-image">
        </a>
        <img src="/files/media/profileimg?user={{ coresponed_id }}" class="round top-corresponder-info-user-image">
        <div class="top-corresponder-info-username"><strong>{{ corresponder_username }}</strong></div>
    </div>
{% endblock %}

{% block content %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}