{% extends "base.html" %}

{% block title %}FriendChat with {{ corresponder_username }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=friendchat-dm">
{% endblock %}

{% block content %}
    <div class="top-corresponder-info">
        <img src="/files/media/profileimg?user={{ coresponed_id }}" class="round top-corresponder-info-user-image">
        <div class="top-corresponder-info-username"><strong>{{ corresponder_username }}</strong></div>
    </div>
{% endblock %}