{% extends "base.html" %}

{% block title %}FriendFace - Edit Profile{% endblock %}

{% block content %}
<div class="editprofilewrap">
    {% for message in messages %}
        <div class="loginregistererror alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="changewrap">
        <form action="/user/{{ current_user }}/edit" method="post">
            {% csrf_token %}
            <input type="hidden" value="password" name="change">
            <input type="password" class="changepasswordinput form-control" placeholder="Old Password" aria-label="Old Password" name="oldpassword" aria-describedby="basic-addon1">
            <input type="password" class="changepasswordinput form-control" placeholder="New Password" aria-label="New Password" name="newpassword" aria-describedby="basic-addon1" style="margin-top: 15px;">
            <button type="submit" class="loginbutton btn btn-primary">Change password</button>
        </form>
    </div>

    <div class="changewrap">
        <form action="/user/{{ current_user }}/edit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="image" name="change">
            <input type="file" class="logininput form-control" name="avatar" accept="image/jpg" style="margin-top: 10px;">
            <button type="submit" class="loginbutton btn btn-primary">Change user image</button>
        </form>
    </div>
</div>
{% endblock %}