{% extends "base.html" %}

{% block title %}FriendChat{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=friendchat">
{% endblock %}

{% block content %}
    <div class="people">
        <div class="dm-icon">
            <a href="/chat/find">
                <img src="/files/static/icons?file=blue-plus-icon.png" class="round dm-icon-image">
                <div class="dm-icon-name dm-icon-add">
                    Find people
                </div>
            </a>
        </div>

        {% for dm in dms %}
            <div class="dm-icon">
                <a href="/chat/{{ dm.2 }}">
                    <img src="/files/media/profileimg?user={{ dm.0 }}" class="round dm-icon-image">
                    <div class="dm-icon-name">{{ dm.1 }}</div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% for message in latest_messages %}

    
        <div class="dm-preview">
            <a href="/chat/{{ message.dm_id }}">

                <div class="dm-preview-user-info">
                    <img src="/files/media/profileimg?user={{ message.sender_id }}" class="round dm-preview-user-image">
                    <div class="dm-preview-username">{{ message.sender_username }}</div>
                </div>

                <div class="latest-chat">
                    {% if message.message_id == None %}
                        {{ message.content }}
                    {% else %}
                        
                    {% endif %}
                </div>

            </a>
        </div>
    {% endfor %}
{% endblock %}