{% extends "base.html" %}

{% block title %}FriendFace{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=delete">
{% endblock %}

{% block content %}
    <div class="mypostdiv">
        <form autocomplete="off" id="post-form">
            {% csrf_token %}
            <textarea class="postdivtextarea form-control" id="posttext" name="post_content"></textarea>
            <button type="submit" class="postdivpostbtn btn btn-primary" id="postbtn">Post</button>
        </form>
    </div>

    {% for post in posts %}
        <div class="post" id="{{ post.4 }}">
            <div class="posttop">
                <div class="postuserdiv">
                    <img class="postusericon round" src="/files/media/profileimg?user={{ post.8 }}" alt="User logo img">
                    <a href="/user/{{ post.0 }}" class="postusernameatag"><div class="postuser">{{ post.0 }}</div></a>
                </div>

                {% if current_user == post.0 %}
                    <div class="posttopdelete"><img src="/files/static/icons?file=delete.png" alt=""></div>
                {% endif %}
            </div>
            <div class="postcontent">{{ post.1 }}</div>
            <div class="likedstuff">
                {% if  post.6 == True%}
                    <img src="/files/static/icons?file=liked.png" alt="like" class="likeimg" id="like">
                    <input type="hidden" value="{{ post.4 }}">
                    <div class="likediv">{{ post.2 }}</div>
                {% else %}
                    <img src="/files/static/icons?file=like.png" alt="like" class="likeimg" id="like">
                    <input type="hidden" value="{{ post.4 }}">
                    <div class="likediv">{{ post.2 }}</div>
                {% endif %}
            </div>

            <form autocomplete="off" class="comment-form">
                {% csrf_token %}
                <div class="mycommentdiv">
                    <input class="commentdivtextarea" id="posttext" name="comment_content" placeholder="Comment">
                    <input type="hidden" name="comment_parrent_id" value="{{ post.4 }}">
                    <button type="submit" class="commentbtndiv btn btn-primary" id="postbtn">Comment</button>
                </div>
            </form>

            <div class="commentoptions">
                <div class="commentoption commentoptionimagediv commentoptionexpand" title="expand">
                    <a href="/getpost/{{ post.4 }}"><img src="/files/static/icons?file=expand.png" alt="Expand"></a>
                </div>
                <div class="commentoption commentoptioncomments">
                    <a href="/getpost/{{ post.4 }}">Comments ({{ post.9 }})</a>
                </div>
                <div class="commentoption commentoptionimagediv commentoptionshare" title="copy share link to clipboard">
                    <img src="/files/static/icons?file=share.png" alt="Share">
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "delete.html" %}

    <script>
        let current_user = "{{ current_user }}"
        let current_user_id = "{{ current_user_id }}"
        let this_url = "{{ this_url }}"
    </script>
    <script src="/files/static/js?file=index_post"></script>
    <script src="/files/static/js?file=post_read"></script>
    <script src="/files/static/js?file=share_post"></script>
    <script src="/files/static/js?file=comment"></script>
    <script src="/files/static/js?file=like"></script>
    <script src="/files/static/js?file=delete"></script>
{% endblock %}