{% extends "base.html" %}

{% block title %}FriendFace{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/main.css">
{% endblock %}

{% block content %}
    <div class="mypostdiv">
        <textarea class="postdivtextarea form-control" id="posttext"></textarea>
        <button type="button" class="postdivpostbtn btn btn-primary" id="postbtn">Post</button>
    </div>

    <div class="post">
        <div class="postuserdiv">
            <img class="postusericon" src="static/icons/user.png" alt="User logo img">
            <div class="postuser">Jože</div>
        </div>
        <div class="postcontent">This is a cool post!</div>
        <img src="static/icons/heart.png" alt="like" class="likeimg">
    </div>
    <script>
        let current_user = "{{ current_user }}"
    </script>
    <script src="static/index_post.js"></script>
{% endblock %}