{% extends "base.html" %}

{% block title %}FriendFace{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/main.css">
{% endblock %}

{% block content %}
    <div class="mypostdiv">
        <textarea class="postdivtextarea form-control" id="posttext"></textarea>
        <button type="button" class="postdivpostbtn btn btn-primary" id="postbtn">Post</button>
    </div>

    {% for post in posts %}
        <div class="post">
            <div class="postuserdiv">
                <img class="postusericon" src="static/icons/user.png" alt="User logo img">
                <div class="postuser">{{ post.0 }}</div>
            </div>
            <div class="postcontent">{{ post.1 }}</div>
            <div class="likedstuff">
                <a href="like?post={{ post.3 }}&user={{ current_user }}"><img src="static/icons/heart.png" alt="like" class="likeimg" id="like"></a>
                <div class="likediv">{{ post.2 }}</div>
            </div>
        </div>
    {% endfor %}
    <script>
        let current_user = "{{ current_user }}"
    </script>
    <script src="static/index_post.js"></script>
{% endblock %}