{% extends "base.html" %}

{% block title %}FriendFace{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/files/static/css?file=delete">
{% endblock %}

{% block content %}
    <div class="post" id="{{ post.id }}" style="margin-top: 20px;">
        <div class="posttop">
            <div class="postuserdiv">
                <img class="postusericon round" src="/files/media/profileimg?user={{ post.author_id }}" alt="User logo img">
                <a href="/user/{{ post.author_username }}" class="postusernameatag"><div class="postuser">{{ post.author_username }}</div></a>
                <div class="posttime">{{ post.timePretty }}</div>
            </div>

            <div class="postpagesharediv commentoptionimagediv commentoptionshare" title="copy share link to clipboard">
                <img src="/files/static/icons?file=share.png" alt="Share">
            </div>

            {% if current_user == post.author_username %}
                <div class="postpagetopdelete"><img src="/files/static/icons?file=delete.png" alt=""></div>
            {% endif %}
        </div>
        <div class="postcontent">{{ post.content }}</div>
        <div class="likedstuff">
            {% if  post.liked == True%}
                <a href="/like?post={{ post.id }}&user={{ current_user }}&redirect_to={{ this_url }}#{{ post.id }}"><img src="/files/static/icons?file=liked.png" alt="like" class="likeimg" id="like"></a>
                <div class="likediv">{{ post.likes }}</div>
            {% else %}
                <a href="/like?post={{ post.id }}&user={{ current_user }}&redirect_to={{ this_url }}#{{ post.id }}"><img src="/files/static/icons?file=like.png" alt="like" class="likeimg" id="like"></a>
                <div class="likediv">{{ post.likes }}</div>
            {% endif %}
        </div>

        <form autocomplete="off" action="/comment" method="post">
            {% csrf_token %}
            <div class="mycommentdiv">
                <input class="commentdivtextarea" id="posttext" name="comment_content" placeholder="Comment">
                <input type="hidden" name="comment_parrent_id" value="{{ post.id }}">
                <input type="hidden" name="redirect_to" value="{{ this_url }}">
                <button type="submit" class="commentbtndiv btn btn-primary" id="postbtn">Comment</button>
            </div>
        </form>

        {% include "delete.html" %}

        <div class="comments">
            {% for comment in post.comments %}
                <div class="comment">
                    <div class="commentuser">
                        <img class="commentusericon round" src="/files/media/profileimg?user={{ comment.4 }}" alt="User logo img">
                        <a href="/user/{{ comment.0 }}" class="commentusernameatag"><div>{{ comment.0 }}</div></a>
                    </div>
                    <div class="commentcontent">{{ comment.1 }}</div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <script>
        let user = "{{ post.author_username }}"
        let post_id = "{{ post.id }}"
    </script>
    <script src="/files/static/js?file=share_post"></script>
    <script src="/files/static/js?file=delete_post_page"></script>
{% endblock %}