{% extends "base.html" %}
{% load static %}

{% block title %}FriendFace Register{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/main.css">
{% endblock %}

{% block content %}
    <div class="loginwrapper text-center">
        <form action="register" method="post">
            {% csrf_token %}
            <div class="loginwelcometxt">FriendFace</div>
            <input type="text" class="logininput form-control" placeholder="Username" aria-label="Username" name="user" aria-describedby="basic-addon1">
            <input type="password" class="logininput form-control" placeholder="Password" aria-label="Password" name="password" aria-describedby="basic-addon1" style="margin-top: 10px;">
            <input type="password" class="logininput form-control" placeholder="Repeat password" aria-label="Password" name="password2" aria-describedby="basic-addon1" style="margin-top: 10px;">
            <button type="submit" class="loginbutton btn btn-primary">Register</button>
        </form>
        <div class="loginlinkwraper">
            <a href="login" class="loginlink">Login?</a>
        </div>
    </div>
    <script src="static/register.js"></script>
{% endblock %}