{% extends "base.html" %}

{% block title %}FriendFace - {{ user_page }}{% endblock %}

{% block content %}
    <div class="userpagewelcome">
        <div class="userpageuseravatardiv round">
            <img src="/files/media/profileimg?user={{ user_page_id }}" alt="User logo img" class="userpageuseravatarimg round">
        </div>

        <div class="userwelcom">
            <div class="usersname">
                <strong>{{ user_page }}</strong>
            </div>
        </div>
        
        <div class="infoaboutuser">
            <div class="subinfoP1">
                <div class="subinfo">{{ total_likes }} likes</div>
                <div class="subinfo">{{ total_posts }} posts</div>
            </div>
            <div class="subinfoP2">
                <div class="subinfo">{{ followers }} followers</div>
                {% if is_my_page == True %}
                <a class="btn btn-primary" href="/user/{{ current_user }}/edit">Edit your profile</a>
                {% else %}
                    {% if is_following == True %}
                        <div class="subinfo subscribebntdiv">
                            <a class="unfollow btn btn-primary" href="/unfollow/{{ user_page }}?redirect_to={{ this_url }}">Unfollow</a>
                        </div>
                    {% else %}
                        <div class="subinfo subscribebntdiv">
                            <a class="btn btn-primary" href="/follow/{{ user_page }}?redirect_to={{ this_url }}">Follow</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="post" id="{{ post.4 }}">
            <div class="postuserdiv">
                <img class="postusericon round" src="/files/media/profileimg?user={{ post.8 }}" alt="User logo img">
                <div class="postuser">{{ post.0 }}</div>
            </div>
            <div class="postcontent">{{ post.1 }}</div>
            <div class="likedstuff">
                {% if  post.6 == True%}
                    <a href="/like?post={{ post.4 }}&user={{ current_user }}&redirect_to={{ this_url }}#{{ post.4 }}"><img src="/files/static/icons?file=liked.png" alt="like" class="likeimg" id="like"></a>
                    <div class="likediv">{{ post.2 }}</div>
                {% else %}
                    <a href="/like?post={{ post.4 }}&user={{ current_user }}&redirect_to={{ this_url }}#{{ post.4 }}"><img src="/files/static/icons?file=like.png" alt="like" class="likeimg" id="like"></a>
                    <div class="likediv">{{ post.2 }}</div>
                {% endif %}
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="mycommentdiv">
                    <input class="commentdivtextarea" id="posttext" name="comment_content" placeholder="Comment">
                    <input type="hidden" name="comment_parrent_id" value="{{ post.4 }}">
                    <input type="hidden" name="redirect_to" value="{{ this_url }}#{{ post.4 }}">
                    <button type="submit" class="commentbtndiv btn btn-primary" id="postbtn">Comment</button>
                </div>
            </form>

            <div class="commentoptions">
                <div class="commentoption commentoptionimagediv commentoptionexpand" title="expand">
                    <a href="/getpost/{{ post.4 }}" target="_blank"><img src="/files/static/icons?file=expand.png" alt="Expand"></a>
                </div>
                <div class="commentoption">
                    <a href="/getpost/{{ post.4 }}">Comments ({{ post.9 }})</a>
                </div>
                <div class="commentoption commentoptionimagediv commentoptionshare" title="copy share link to clipboard">
                    <img src="/files/static/icons?file=share.png" alt="Share">
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        let current_user = "{{ current_user }}"
    </script>
    <script src="/files/static/js?file=index_post"></script>
    <script src="/files/static/js?file=share_post"></script>
    <script src="/files/static/js?file=comment"></script>
{% endblock %}