{% extends "base.html" %}

{% block title %}FriendFace{% endblock %}

{% block content %}
    <div class="userpagewelcome" style="background-image: url('/media/avatars/{{ current_user_id }}.jpg');">
        <div class="userwelcom">
            <strong>{{ user_page }}</strong>'s posts
        </div>
        
        <div class="infoaboutuser">
            <div class="subinfo">{{ total_likes }} likes</div>
            <div class="subinfo">{{ total_posts }} posts</div>
        </div>
    </div>

    {% for post in posts %}
        <div class="post">
            <div class="postuserdiv">
                <img class="postusericon round" src="/media/avatars/{{ post.7 }}.jpg" alt="User logo img">
                <div class="postuser">{{ post.0 }}</div>
            </div>
            <div class="postcontent">{{ post.1 }}</div>
            <div class="likedstuff">
                {% if  post.5 == True%}
                    <a href="/like?post={{ post.4 }}&user={{ current_user }}&redirect_to={{ this_url }}"><img src="/static/icons/liked.png" alt="like" class="likeimg" id="like"></a>
                    <div class="likediv">{{ post.2 }}</div>
                {% else %}
                    <a href="/like?post={{ post.4 }}&user={{ current_user }}&redirect_to={{ this_url }}"><img src="/static/icons/like.png" alt="like" class="likeimg" id="like"></a>
                    <div class="likediv">{{ post.2 }}</div>
                {% endif %}
            </div>

            <form action="/comment" method="post">
                {% csrf_token %}
                <div class="mycommentdiv">
                    <input class="commentdivtextarea" id="posttext" name="comment_content" placeholder="Comment">
                    <input type="hidden" name="comment_parrent_id" value="{{ post.4 }}">
                    <input type="hidden" name="redirect_to" value="{{ this_url }}">
                    <button type="submit" class="commentbtndiv btn btn-primary" id="postbtn">Comment</button>
                </div>
            </form>

            <div class="comments">
                {% for comment in post.6 %}
                    <div class="comment">
                        <div class="commentuser"><img class="commentusericon round" src="/media/avatars/{{ comment.4 }}.jpg" alt="User logo img">{{ comment.0 }}</div>
                        <div class="commentcontent">{{ comment.1 }}</div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <script>
        let current_user = "{{ current_user }}"
    </script>
    <script src="/static/index_post.js"></script>
{% endblock %}